<!--オブジェクトが空の場合はtrue-->
<!--@user→objectに変更。@micropostも使えるように-->
<% if object.errors.any? %>
<div id="error_explanation">
  <div class="alert alert-danger">
    <!--pluralize:2番目の引数の英単語を複数形に変更したものを返す-->
    The form contains <%= pluralize(object.errors.count, "error") %>
  </div>
  <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>